body {
margin: 0;
font-family: Arial, sans-serif;

background-image: url("../imagenes/ImagenFondo3.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.hero {
height: 100vh;
}

.hero h1 {
font-size: 4.0rem;
margin: 0;
font-family: 'Boldonse', sans-serif;
}

.hero h2 {
font-size: 1.3rem;
}

